$green: #7C9972;
$orange: #AD5F57;
$red: #79404E;
$light: #8482A1;
$dark: #485069;
$blue: #E9F4FF;

$facebook: #3b5998;
$twitter: #00aced;
$pinterest: #C92228;

@import url('https://fonts.googleapis.com/css?family=Arsenal');
@import url('https://use.fontawesome.com/771a83773c.css');

@font-face {
    font-family: "Arsenal";
    font-style: normal;
    font-weight: 400;
    src: local("Arsenal"), 
    local("Arsenal-Regular.ttf"),  
    url("https://fonts.googleapis.com/css?family=Arsenal") format("ttf"), 
    url("https://fonts.googleapis.com/css?family=Arsenal") format("ttf");
}

html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}
body {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	-o-font-smoothing: antialiased !important;
	font-smoothing: antialiased !important;
	font-family: "Arsenal", 'helvetica';
	&.stop {
		overflow: hidden;
	}
}
a {
	text-decoration: none;
	color: $dark;
	&:hover {
		cursor: pointer;
		text-decoration: none;
	}
}
.btn {
	font-family: 'LiSong Pro', serif;
	background: $green;
	color: white;
	&:focus {
		outline: none;
	}
}
.outer {
	/* W3C */
	display: inline-flex !important;
    box-pack: center !important;
    box-align: center !important;
	/* Safari, Opera, and Chrome */
	display: -webkit-inline-flex !important;
	-webkit-box-pack: center !important;
	-webkit-box-align: center !important;
	-webkit-align-items: center !important;
	 /* Firefox */
	display: -moz-inline-flexbox !important;
	-moz-box-pack: center !important;
	-moz-box-align: center !important;
	-moz-align-items: center !important;
	height: 100%;
	width: 100%;
	align-items: center !important;
	position: relative;
	z-index: 2;
	.inner {
		margin: auto 0;
		width: 100%;
		z-index: 3;
	}
}
.red {
	color: $red;
}
.green {
	color: $green;
}
.orange {
	color: $orange;
}
#bodyWrap {
	@include transform(scale(1)translate(0,0));
	@include transition(all 0.5s $authenticMotion);
	&.out {
		@include transform(scale(0.8)translate(0,-100px));
		@include transition(all 0.5s $authenticMotion);
	}
}
.wrap {
	width: 1400px;
	margin: 0 auto;
	display: block;
	.half {
		article {
			width: 50%;
			display: inline-block;
			vertical-align: middle;
			box-sizing: border-box;
			padding: 0 50px;
			&:first-child {
				text-align: center;
			}
		}
	}
}
.tagline {
	font-size: 28pt;
	text-align: center;
	line-height: 100px;
	color: $light;
	font-family: 'LiSong Pro', serif;
}
#top {
	text-align: center;
	height: 100vh;
	position: relative;
	z-index: 1;
	img {
		width: 600px;
		height: auto;
		margin: 0 auto;
		display: block;
	}
	&:after {
		content:"";
		background: $green;
		opacity: 0.9;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
	}
	#instafeed {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		text-align: center;
		width: 100%;
		height: 100%;
		div {
			width: 25%;
			height: 33.3333%;
			display: inline-block;
			margin: 0 0 -5px 0;
			box-sizing: border-box;
		}
	}
}
#dishpics {
	.pic {
		width: 33.3333%;
		height: 200px;
		display: inline-block;
		margin: 0 0 -4px 0;
		box-sizing: border-box;
		padding: 10px;
		a {
			width: 100%;
			height: 100%;
			display: block;
		}
	}
}
#about {
	background: white;
	position: relative;
	z-index: 999;
	background: linear-gradient($blue, white);
	text-align: center;
	#introVideo {
		position: relative;
		width: auto;
		display: inline-block;
		margin-bottom: 125px;
		i {
			position: absolute;
			top :50%;
			left: 50%;
			margin: -50px 0 0 -50px;
			font-size: 28pt;
			color: white;
			border: 2px solid white;
			background: $green;
			width: 100px;
			height: 100px;
			line-height: 95px;
			text-align: center;
			display: block;
			text-align: center;
			box-sizing: border-box;
			padding-left: 5px;
			@include border-top-radius(50%);
			@include border-bottom-radius(50%);
			@include transform(scale(1));
			@include transition(all 0.3s $authenticMotion);
			&.fa-pause {
				padding-left: 0;
				@include transform(scale(0));
				@include transition(all 0.3s $authenticMotion);
			}
		}
		video {
			margin: 0 auto;
			width: 1076px;
			display: block;
			&:hover {
				cursor: pointer;
			}
		}
		&.playing {
			i {
				@include transform(scale(0));
				@include transition(all 0.3s $authenticMotion);
			}
			&:hover {
				i.fa-pause {
					@include transform(scale(1));
					@include transition(all 0.3s $authenticMotion);
				}
			}
		}
	}
}
.line {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	background: white;
	padding-top: 5px;
	span {
		width: 10%;
		height: 3px;
		box-sizing: border-box;
		display: inline-block;
		vertical-align: bottom;
		&:first-child {
			background: $green;
		}
		&:nth-child(2) {
			background: $orange;
		}
		&:nth-child(3) {
			background: $red;
		}
		&:nth-child(4) {
			background: $light;
		}
		&:nth-child(5) {
			background: $dark;
		}
		&:nth-child(6) {
			background: $green;
		}
		&:nth-child(7) {
			background: $orange;
		}
		&:nth-child(8) {
			background: $red;
		}
		&:nth-child(9) {
			background: $light;
		}
		&:last-child {
			background: $dark;
		}
	}
}
#listing {
	background: white;
	position: relative;
	z-index: 999;
	padding: 0 0 50px 0;
	box-sizing: border-box;
	.statsWrap {
		color: $light;
		font-family: 'LiSong Pro', serif;
		font-size: 21pt;
		text-align: right;
		position: relative;
		margin-bottom: 50px;
		.stats {
			background: white;
			box-sizing: border-box;
			padding: 10px 15px 0;
			display: inline-block;
			position: relative;
			z-index: 2;
		}
	}
	#listingTitle {
		float: left;
		font-family: 'LiSong Pro', serif;
		font-size: 36pt;
		font-weight: normal;
		margin: 0 0 15px 20px;
		color: $light;
		span {
			box-sizing: border-box;
			padding-left: 5px;
			display: block;
			text-transform: lowercase;
			font-size: 12pt;
			color: lighten($light,15%);
			line-height: 14pt;
			&:first-child {
				margin-top: 5px;
			}
		}
	}
	#filter {
		text-align: right;
		.btn-modal {
			border: none;
			box-shadow: none;
			font-size: 16pt;
			line-height: 60px;
			padding: 0 25px;
			margin: 0 20px 30px 0;
			letter-spacing: 1px;
			&:hover {
				cursor: pointer;
			}
		}
	}
	#listingWrap {
		width: 1400px;
		margin: 0 auto;
		display: block;
		&:before {
			content: "";
			display: block;
			clear: both;
		}
		.recipe {
			width: 33.333333%;
			display: inline-block;
			box-sizing: border-box;
			text-align: center;
			padding: 0 20px 20px;
			h3 {
				margin: 0 auto;
				font-family: 'LiSong Pro', serif;
				color: white;
				font-size: 12pt;
				line-height: 40px;
				font-weight: normal;
				position: relative;
				z-index: 9;
				color: white;
				white-space: nowrap;
				@include transition(all 0.5s $authenticMotion);
				span {
					text-transform: uppercase;
					letter-spacing: 1.5px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					box-sizing: border-box;
					display: inline-block;
					max-width: 80%;
					vertical-align: middle;
				}
			}
			article {
				display: block;
				max-width: 100%;
				height: auto;
				position: relative;
				z-index: 10;
				height: 300px;
				line-height: 300px;
				.recipeLoad {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					width: 100%;
					color: white;
					opacity: 0;
					@include transition(all 0.5s $authenticMotion);
					&.in {
						opacity: 1;
						@include transition(all 0.5s $authenticMotion);
					}
				}
			}
			&[data-color="color1"] {
				h3 {
					color: $green;
				}
				article {
					.recipeLoad {
						background: rgba(124,153,114,0.8);
					}
				}
			}
			&[data-color="color2"] {
				h3 {
					color: $orange;
				}
				article {
					.recipeLoad {
						background: rgba(173,95,87,0.8);
					}
				}
			}
			&[data-color="color3"] {
				h3 {
					color: $red;
				}
				article {
					.recipeLoad {
						background: rgba(121,64,78,0.8);
					}
				}
			}
			&[data-color="color4"] {
				h3 {
					color: $light;
				}
				article {
					.recipeLoad {
						background: rgba(132,130,161,0.8);
					}
				}
			}
			&[data-color="color5"] {
				h3 {
					color: $dark;
				}
				article {
					.recipeLoad {
						background: rgba(72,80,105,0.8);
					}
				}
			}
			&:hover {
				color: $dark;
				h3 {
					@include transform(translate(0,0));
					@include transition(all 0.5s $authenticMotion);
				}
			}
		}
		#ajaxLoad {
			font-size: 48pt;
			text-align: center;
			padding: 25px 0;
			color: lighten($light,35%);
		}
	}
}
.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	z-index: 9999;
	background: $green;
	color: white;
	text-align: center;
	@include transform(translate(0,-100%));
	@include transition(all 0.5s $authenticMotion);
	&.in {
		@include transform(translate(0,0));
		@include transition(all 0.5s $authenticMotion);
		.fa-close {
			opacity: 1;
			@include transform(rotate(180deg));
			@include transition(all 0.75s $authenticMotion);
		}
	}
	.fa-close {
		opacity: 0;
		color: white;
		font-size: 24pt;
		color: rgba(0,0,0,0.25);
		position: absolute;
		top: 25px;
		right: 25px;
		z-index: 9999;
		@include transform(rotate(0deg));
		@include transition(all 0.75s $authenticMotion);
		&:hover {
			cursor: pointer;
		}
	}
	a {
		color: white;
	}
	.half {
		display: inline-block;
		width: 50%;
		height: 100%;
		box-sizing: border-box;
		vertical-align: top;
		overflow-x: scroll;
	}
	.modalTitle {
	    font-family: 'LiSong Pro', serif;
	    font-size: 36pt;
	    font-weight: normal;
	    margin: 0;
	    letter-spacing: 1px;
	    text-align: left;
	}
	.modalCopy {
		width: 50%;
		margin: 0 auto;
		p {
			text-align: left;
			margin: 5px 0 25px;
			letter-spacing: 0.5px;
			line-height: 16pt;
			color: darken(white,10%);
		}
	}
	&[data-modal="category"] {
		z-index: 99998;
		span {
			display: inline-block;
			font-size: 18pt;
			text-align: left;
			color: $red;
			padding: 0 5px;
			@include transition(all 0.3s $authenticMotion);
			a {
				color: darken($green,25%);
				&.clicked {
					color: $blue;
					@include transition(all 0.3s $authenticMotion);
					&:hover {
						color: $blue;
					}
				}
				&:hover {
					color: darken($green,15%);
					@include transition(all 0.3s $authenticMotion);
				}
			}
		}
		.half {
			&.image {
				background: url('assets/images/tiki2.jpg') no-repeat scroll center / cover;
			}
		}
	}
	&[data-modal="ingredients"] {
		z-index: 99998;
		.half {
			&.image {
				background: url('assets/images/tiki3.jpg') no-repeat scroll center / cover;
			}
		}
		span {
			color: $red;
			display: inline-block;
			padding: 0 5px;
		}
		a {
			color: darken($green,25%);
			@include transition(all 0.3s $authenticMotion);
			&.clicked {
				color: $blue;
				@include transition(all 0.3s $authenticMotion);
				&:hover {
					color: $blue;
				}
			}
			&:hover {
				color: darken($green,15%);
				@include transition(all 0.3s $authenticMotion);
			}
		}
	}
	.btn-filter {
		display: block;
		border: none;
	    box-shadow: none;
	    font-size: 16pt;
	    line-height: 60px;
	    padding: 0 25px;
	    margin: 25px auto 0;
	    letter-spacing: 1px;
	    background: $red;
	    &:hover {
	    	cursor: pointer;
	    }
	}
	&[data-modal="contact"] {
		background: $light;
		text-align: left;
		z-index: 99999;
		.half {
			&.image {
				background: url('assets/images/tiki.jpg') no-repeat scroll center / cover;
			}
		}
		form {
			width: 400px;
			margin: 0 auto;
			.field {
				margin: 0 0 10px;
			}
			label {
				display: block;
				text-transform: uppercase;
				font-size: 10pt;
				line-height: 24px;
				letter-spacing: 1px;
			}
			input {
				display: block;
				width: 100%;
				border: 1px solid darken($light,5%);
				background: darken($light,5%);
				color: white;
				line-height: 40px;
				padding: 0 10px;
				font-size: 14pt;
				box-sizing: border-box;
				@include transition(all 0.3s $authenticMotion);
			}
			textarea {
				font-size: 14pt;
				display: block;
				width: 100%;
				min-height: 150px;
				max-width: 100%;
				min-width: 100%;
				border: 1px solid darken($light,5%);
				background: darken($light,5%);
				color: white;
				padding: 10px;
				box-sizing: border-box;
				@include transition(all 0.3s $authenticMotion);
			}
			input,textarea {
				box-shadow: none;
				@include border-top-radius(0);
				@include border-bottom-radius(0);
				&:focus {
					outline: none;
					border: 1px solid darken($light,10%);
					@include transition(all 0.3s $authenticMotion);
				}
				&::placeholder {
					color: lighten($light,5%);
				}
				&.error {
					border: 1px solid $red;
				}
			}
			button {
				background: $green;
				color: white;
				border: none;
				float: right;
				font-family: 'LiSong Pro', serif;
			    box-shadow: none;
			    font-size: 16pt;
			    line-height: 60px;
			    padding: 0 25px;
			    margin: 10px 0 0;
			    letter-spacing: 1px;
			    @include transition(all 0.3s $authenticMotion);
			    &:focus {
			    	outline: none;
			    }
			    &.error {
			    	background: $red;
			    	@include transition(all 0.3s $authenticMotion);
			    }
			    &:hover {
			    	cursor: pointer;
			    }
			}
		}
	}
	&.single-recipes {
		overflow: scroll;
		text-align: left;
		@include transform(translate(0,100%));
		background: white;
		z-index: 9999;
		&.in {
			@include transform(translate(0,0));
			.fa-close {
				@include transform(rotate(-180deg));
				@include transition(all 0.75s $authenticMotion);
			}
		}
		.fa-close {
			position: fixed;
		}
	}
}
#recipeWrap {
	margin: 50px auto;
	#recipeImages {
		width: 40%;
		box-sizing: border-box;
		display: inline-block;
		text-align: center;
		padding-left: 50px;
		article {
			width: 33.333333%;
			height: 200px;
			display: inline-block;
			box-sizing: border-box;
			padding: 10px;
			&.thumbnail {
				span {
					display: block;
					width: 100%;
					height: 200px;
				}
				&:hover {
					cursor: pointer;
				}
			}
			&:first-child {
				width: 100%;
				height: auto;
				display: block;
				padding: 0 10px;
				img {
					max-width: 100%;
				}
			}
		}
	}
	#recipeCopy {
		width: 60%;
		box-sizing: border-box;
		font-family: 'Arsenal', 'helvetica';
		font-weight: normal;
		color: $light;
		vertical-align: top;
		display: inline-block;
		padding-left: 50px;
		position: relative;
		h1 {
			font-family: 'LiSong Pro', serif;
			font-weight: normal;
			font-size: 36pt;
			margin: 0 0 15px;
			box-sizing: border-box;
			padding-right: 60px;
			color: $dark;
		}
		.line {
			position: relative;
			span {
				width: 20%;
				vertical-align: top;
			}
		}
		#starRating {
			margin-bottom: 35px;
			i {
				font-size: 24pt;
				margin: 0 5px;
				&:hover {
					cursor: pointer;
				}
				&:first-child {
					margin-left: 0;
				}
				&.fa-star {
					color: lighten($light, 35%);
					&.active {
						color: $orange;
					}
				}
			}
		}
		.copy {
			box-sizing: border-box;
			padding: 0 50px 0 0;
			p {
				font-size: 16pt;
				line-height: 21pt;
			}
			h3 {
				font-size: 18pt;
				margin: 50px 0 0;
				color: $dark;
				text-transform: uppercase;
			}
		}
		.instruction-listing,.ingredient-listing {
			padding: 0 100px 0 0;
			box-sizing: border-box;
			font-size: 16pt;
			h3 {
				letter-spacing: 1px;
			}
			ul, ol {
				margin: 10px 0 25px;
				li {
					line-height: 30px;
					color: $dark;
					.single-measurement {
						color: $light;
						text-transform: lowercase;
					}
					.single-ingredient {
						color: $dark;
						text-transform: capitalize;
					}
				}
			}
		}
		h4 {
			font-family: 'LiSong Pro', serif;
			font-size: 21pt;
			line-height: 60px;
			font-weight: normal;
			margin: 0;
			&#dishpicsTitle {
				margin-top: 50px;
				padding-left: 10px;
			}
		}
		#socialShare {
			text-align: center;
			margin-top: 50px;
			a {
				width: 50px;
				height: 50px;
				line-height: 45px;
				display: inline-block;
				vertical-align: middle;
				margin: 0 5px;
				@include border-top-radius(50%);
				@include border-bottom-radius(50%);
				border: 1px solid $light;
				@include transition(all 0.5s $authenticMotion);
				i {
					font-size: 18pt;
					color: $light;
					vertical-align: middle;
					&.fa-facebook {
						color: $facebook;
					}
					&.fa-twitter {
						color: $twitter;
					}
					&.fa-pinterest {
						color: $pinterest;
					}
				}
				&:hover {
					background: darken(white,3%);
					@include transition(all 0.5s $authenticMotion);
				}
			}
		}
		#relatedRecipes {
			h3 {
				margin: 0 auto;
				font-family: 'LiSong Pro', serif;
				color: $light;
				font-size: 14pt;
				line-height: 40px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				font-weight: lighter;
				letter-spacing: 1px;
				position: relative;
				z-index: 9;
				box-sizing: border-box;
				@include transition(all 0.5s $authenticMotion);
			}
		}
	}
	#relatedRecipes {
		font-family: 'LiSong Pro', serif;
		margin-top: 50px;
		h2 {
			font-family: 'LiSong Pro', serif;
			font-size: 28pt;
			font-weight: normal;
			color: $light;
			margin: 0;
			line-height: 80px;
		}
		h3 {
			margin: 0 auto;
			font-family: 'LiSong Pro', serif;
			color: $light;
			font-size: 14pt;
			line-height: 40px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			font-weight: lighter;
			letter-spacing: 1px;
			position: relative;
			z-index: 9;
			box-sizing: border-box;
			@include transition(all 0.5s $authenticMotion);
		}
		img {
			max-width: 100%;
		}
	}
}
#contact {
	position: fixed;
	bottom: 25px;
	right: 25px;
	width: 50px;
	height: 50px;
	@include border-top-radius(50%);
	@include border-bottom-radius(50%);
	z-index: 99997;
	background: white;
	border: 1px solid $light;
	color: $light;
	text-align: center;
	@include transition(all 0.5s $authenticMotion);
	i {
		line-height: 45px;
		font-size: 16pt;
		&:hover {
			cursor: pointer;
		}
	}
	&:hover {
		cursor: pointer;
		background: lighten($light,40%);
		@include transition(all 0.5s $authenticMotion);
	}
}
.cta {
	height: 700px;
	margin: 0 20px 40px;
	border: 1px solid lighten($light,25%);
	.half {
		width: 50%;
		height: 100%;
		display: inline-block;
		box-sizing: border-box;
		vertical-align: top;
		h3 {
			font-family: 'LiSong Pro', serif;
			font-size: 24pt;
			line-height: 32px;
			font-weight: normal;
			color: $dark;
			margin: 0;
		}
		form {
			box-sizing: border-box;
			padding: 0 50px;
			&:after {
				content: "";
				clear: both;
				display: block;
			}
			p {
				font-size: 16pt;
				color: $light;
			}
			.field {
				.half {
					width: 50%;
					display: inline-block;
					box-sizing: border-box;
					&:first-child {
						padding-right: 10px;
					}
					&:last-child {
						padding-left: 10px;
					}
				}
				label {
					color: $light;
					display: block;
					text-transform: uppercase;
					font-size: 8pt;
					line-height: 24px;
					letter-spacing: 1px;
				}
				input {
					display: block;
					width: 100%;
					border: 1px solid lighten($light,40%);
					background: lighten($light,40%);
					color: $dark;
					line-height: 60px;
					padding: 0 15px;
					font-size: 14pt;
					box-sizing: border-box;
					@include transition(all 0.3s $authenticMotion);
					&:focus {
						outline: none;
						border: 1px solid lighten($light,35%);
					}
					&::placeholder {
						color: lighten($light,5%);
					}
					&.error {
						@include transition(all 0.3s $authenticMotion);
						border: 1px solid lighten($red, 50%);
					}
				}
			}
			button {
				background: $light;
				color: white;
				border: none;
				float: right;
				font-family: 'LiSong Pro', serif;
			    box-shadow: none;
			    font-size: 16pt;
			    line-height: 60px;
			    padding: 0 25px;
			    margin: 15px 0 0;
			    letter-spacing: 1px;
			    @include transition(all 0.3s $authenticMotion);
			    &:hover {
			    	cursor: pointer;
			    }
			    &.error {
			    	@include transition(all 0.3s $authenticMotion);
			    	background: $red;
			    }
			    &.success {
			    	@include transition(all 0.3s $authenticMotion);
			    	background: $green;
			    }
			}
		}
		.socialLinks {
			text-align: center;
			h3 {
				margin: 25px 0;
				font-size: 21pt;
			}
			a {
				width: 50px;
				height: 50px;
				line-height: 45px;
				display: inline-block;
				vertical-align: middle;
				margin: 0 5px;
				@include border-top-radius(50%);
				@include border-bottom-radius(50%);
				border: 1px solid $light;
				@include transition(all 0.5s $authenticMotion);
				i {
					font-size: 18pt;
					color: $light;
					vertical-align: middle;
					&.fa-facebook {
						color: $facebook;
					}
					&.fa-twitter {
						color: $twitter;
					}
					&.fa-pinterest {
						color: $pinterest;
					}
				}
				&:hover {
					background: darken(white,3%);
					@include transition(all 0.5s $authenticMotion);
				}
			}
		}
	}
}